<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        src="{{#if profile.image}}{{profile.image}}{{else}}https://www.kindpng.com/picc/m/22-223965_no-profile-picture-icon-circle-member-icon-png.png{{/if}}"
        class="card-img" alt="avatar">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{profile.name}}</h5>
        <p class="card-text">{{profile.email}}</p>
        {{#ifSame profile.id user.id}}
        <a class="btn btn-primary" href="/users/{{profile.id}}/edit" role="button">Edit</a>
        {{/ifSame}}
      </div>
    </div>
  </div>
</div>

<div class="card mt-4">
  <h5 class="card-header">
    <span class="badge badge-pill badge-primary">{{countOfComments}}</span> comments on <span
      class="badge badge-pill badge-primary">{{countOfRests}}</span> restaurants
  </h5>
  <div class="card-body d-flex flex-wrap justify-content-start">
    {{#each restaurants}}
    <a href="/restaurants/{{this.id}}">
      <img
        src="{{#if this.image}}{{this.image}}{{else}}https://p.kindpng.com/picc/s/21-216273_restaurant-logo-big-image-restaurant-logo-png-free.png{{/if}}"
        alt="restaurant" class="img-thumbnail m-3" style="width: 100px; height: 100px;">
    </a>
    {{/each}}
  </div>
</div>