<div class="row">
  <div class="col-md-12 mb-3">
    <h1>{{restaurant.name}}</h1>
    <span class="badge badge-dark">
      <big>
        {{restaurant.Category.name}}
      </big>
    </span>
  </div>

  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{restaurant.description}}</p>
    <a class="btn btn-primary" href="/restaurants/{{restaurant.id}}/dashboard" role="button">Dashboard</a>
  </div>
  <hr>
</div>

<hr>

{{!-- Comment --}}
<h3>Comments</h3>
{{#each restaurant.Comments}}
{{#if ../user.isAdmin}}
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-{{this.id}}"
  style="float: right;">
  Delete
</button>
{{/if}}
<blockquote class="blockquote mb-0">
  <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
  <p>{{this.text}}</p>
  <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
</blockquote>
<hr />
{{/each}}

<br />
<br />

<form action="/comments" method="POST">
  <div class="form-group">
    <label for="text">Comment:</label>
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>
  <input type="hidden" name="RestaurantId" value="{{restaurant.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />
<a href="javascript:history.back()">Back</a>

<!-- Delete Modal -->
{{#each restaurant.Comments}}
<div class="modal fade" id="deleteModal-{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <big class="modal-body">
        Do you want to delete <strong>{{this.User.name}}</strong>'s comment ?
      </big>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
        <form action="/comments/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}