<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">TOP10 人氣餐廳</a>
  </li>
</ul>
<br /><br />
<h1>人氣餐廳</h1>
<hr />
<div class="d-flex align-items-center flex-column">
  {{#each restaurants}}
  <div class="card mb-3" style="width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="{{#if this.image}}{{this.image}}{{else}}https://p.kindpng.com/picc/s/21-216273_restaurant-logo-big-image-restaurant-logo-png-free.png{{/if}}"
          class="card-img" alt="restaurant-photo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <span class="badge badge-secondary">Favorites: {{this.FavoriteCount}}</span>
          <p class="card-text">{{this.description}}</p>
          <a class="btn btn-primary" href="/restaurants/{{this.id}}" role="button">
            <i class="fas fa-info-circle"></i>
          </a>
          {{#if this.isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-danger">
              <i class="fas fa-heart"></i>
            </button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-outline-danger">
              <i class="far fa-heart"></i>
            </button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>